<div class="app-home-container">
  <h2>Menu</h2>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/team" routerLinkActive="active">Team</a></li>
      <li><a routerLink="/sso" routerLinkActive="active">SSO</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink='/mfa' routerLinkActive='active'>MFA</a></li>
    </ul>
  </nav>
</div>
