.app-home-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 190px;
  max-width: 190px;
  word-break: break-all;
  z-index: 10000;
  border-right: 1px solid #f2f2f3;
  box-shadow: 1px 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
  h2 {
    padding: 20px;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
      &:hover {
        cursor: pointer;
        color: #5369f8;
        background-color: #f7f7ff;
      }
      a {
        display: block;
        padding: 20px;
      }
      a.active {
        color: #5369f8;
        background-color: #f7f7ff;
      }
    }
  }
}
