<div class="my-app-sso">
  <!-- <fe-auth-sso-page [rootPath]="'/sso'"></fe-auth-sso-page> -->
  <fe-auth-sso></fe-auth-sso>
  <!-- <fe-auth-sso-claim-domain></fe-auth-sso-claim-domain>  -->
  <!-- <fe-auth-sso-configure-idp></fe-auth-sso-configure-idp>  -->
  <!-- <fe-auth-sso-manage-authorization></fe-auth-sso-manage-authorization>  -->
  <!--    <fe-auth-sso-header></fe-auth-sso-header>-->
  <!--    <div>Custom data</div>-->
  <!--    <fe-auth-sso-router  [rootPath]="'/sso'"></fe-auth-sso-router>-->
  <!--  </fe-auth-sso>-->
</div>
