<div>
    <hr />
    <br />
    <br />
    <br />
    <h1>Toolbar Frontegg App</h1>

    <br />
    <button (click)="showApp()"><h2>Open Frontegg app</h2></button>
    <button (click)="loginWithRedirect()"><h2>Open Hosted Login</h2></button>
    <br />
    <br />
    <p>Authenticated: {{authenticated}}</p>
    <p>Authenticated as: {{user?.name}}</p>
    <a routerLink="/account/login"><b>Login</b></a> ---
    <span (click)="doLogout()"><b>Logout</b></span> ---
    <a routerLink="/test-private-route"><b>private-route</b></a>
    <br />
    <br />
</div>
