<div class="app-home-container">
  <h1>Home Page</h1>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active"><span style="color: red;">Angular</span> Home</a></li>
      <li><a routerLink="/team" routerLinkActive="active"><span style="color: red;">Angular</span> Team</a></li>
      <li><a routerLink="/sso" routerLinkActive="active"><span style="color: red;">Angular</span> SSO</a></li>
      <li><a routerLink="/profile" routerLinkActive="active"><span style="color: red;">Angular</span> Profile</a></li>
    </ul>
  </nav>


  {{user? user.name : 'Not Logged in'}}
</div>
